body {
  height: 100vh;
  width: 100vw;
}

header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: 10rem solid tomato;
  background-color: black;
}


h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: tomato;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: tomato;
  font-size: 2rem;
}

p {
  font-size: 10rem;
}

ul {
  width: 60%;
  height: 2rem;
}
